<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="byUserPwd" connectionString="Server=myServerAddress;Database=myDataBase;User Id=myUsername;Password=myPassword;" providerName="System.Data.SqlClient" />
		<add name="byAuthWin" connectionString="Server=myServerAddress;Database=myDataBase;Integrated Security=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>